---
layout: page
# The Category layout
---
{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>
  {% assign category = page.title | downcase | strip %}
  <p>
    {{ site.category_desc[category] }}
  </p>

  <ul class="content ps-0">
    {% assign post_df = site.data.locales[lang].date_format.post.long %}

    {% assign sub_idx = 0 %}
    {% for post in page.posts %}
      {% for category in post.categories %}
        {% if category == page.title %}
          {% assign sub_idx = forloop.index0 %}   
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign sub_idx2 = 1 | plus: sub_idx %}
    {% assign sub_categories = "" | split: "" %}
    {% for post in page.posts %}
      {% assign sub_category = post.categories[sub_idx2] %}
      {% if sub_category %}
        {% unless sub_categories contains sub_category %}
          {% assign sub_categories = sub_categories | push: sub_category %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% for sub_category in sub_categories %}
      {% capture _category_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
      <h2 class="pl-lg-2">
        <a href="{{ _category_url | relative_url }}" style="color:var(--heading-color); border-bottom:none;">
          {{sub_category}}
        </a>
      </h2>
      {% for post in page.posts %}
        {% if post.categories[sub_idx2] == sub_category %}
      <li class="d-flex justify-content-between pl-md-3 pr-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        <span class="text-muted small">{{ post.date | date: post_df }}</span>
      </li>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for post in page.posts %}
      {% if post.categories.size == sub_idx2 %}
        {% if sub_categories.size > 0 %}
      <h2 class="pl-lg-2">Others</h2>
        {% endif %}
      <li class="d-flex justify-content-between pl-md-3 pr-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        <span class="text-muted small">{{ post.date | date: post_df }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
